/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    cursor: pointer;
}
img{
    width: 500px;
    cursor: pointer;
}

.st-container{
    width: 1200px;
    margin: 0 auto;
}

.red{
    color: red;
}

.blue{
    color: blue;
}